nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    @media screen and (max-width: 1199px) { width: 150px; }
    height: 100%;
    ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        li {
            a {
                text-decoration: none;
                color: #000;
                font-size: 20px;
                font-weight: 700;
                transition: .5s opacity;
                &:hover {
                    opacity: .5;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) { 
    nav {
        width: 80px;
        ul li a {
            font-size: 15px;
        }
    }
}